.team-page {
  max-width: 900px;
  display: flex;
  text-align: center;
  justify-content: center; /* Center horizontally */
  margin-top: 15vh;
}

.team-grid-container {
  background-color: #f8f9fa; /* White */
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr; /* Two columns: 1 part text, 2 parts images */
  gap: 3vh;
  padding: 3vh;
}

.text-rectangle {
  background-color: #fb577c; /* Highlight color */
  color: white; /* Text color */
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  border-radius: 8px; /* Rounded corners for images */
}

.rotated-text {
  font-family: "Satisfy", serif;
  font-size: 200%;
  font-weight: bold;
  writing-mode: vertical-rl; /* Vertical text flow */
  text-orientation:sideways;
  transform: rotate(180deg); /* Rotate the text to read from the right. */
}

.image-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Three rows for three images */
  gap: 3vh;
  height: 100%;
  width: 100%
}

.image-box {
  aspect-ratio: 2/1;
  overflow: hidden;
  border-radius: 8px; /* Rounded corners for images */
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the box without distortion */
}


.after:hover {

}

.banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(98, 34, 49, 0.6); /* Semi-transparent black */
  color: white;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.team-banner {
  font-family: "Satisfy", serif;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(98, 34, 49, 0); /* Semi-transparent black */
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-top: 6rem;
  transition: all 0.3s ease;
}

.square img:hover, .square:hover, .banner:hover, .team-banner:hover {
  background: #7fbee1; /* Semi-transparent black */
}


/* TitleRight Banner Styling */
.title-link {
  font-size: 7rem; /* Large font size */
  font-weight: bold; /* Bold text */
  color: #fb577c; /* White text */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth hover transition */
  text-shadow: 2px 2px 0px #f0f1f5, /* Black border effect */
  -2px -2px 0px #f0f1f5,
  2px -2px 0px #f0f1f5,
  -2px 2px 0px #f0f1f5;
}

.title-link:hover {
  color: #7fbee1; /* Light pink hover effect */
}

.team-page-title {
  top: 0rem; /* Place the banner at the top of its container */
  justify-content: center; /* Align content to the left */
  font-family: "Pacifico", cursive;
  font-size: 7rem; /* Larger font size for the title */
  position: absolute; /* Position the banner absolutely */
  z-index: 10; /* Bring the banner to the front */
  right: 37%; /* Move to the left of the center */
  transform: translateX(50%); /* Adjust for proper centering */
}