.footer {
  margin-top:3vh;
  width: auto; /* Let the header inherit the full width from App.css */
  padding: 25px; /* Add padding around the header */
  bottom: 0;
  background-color: #fb577c; /* Vibrant pink */
  color: #eff0f4; /* Pale grayish-white */
  text-align: center;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.footer-container {
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; /* Center the content horizontally */
  color: #eff0f4; /* Pale grayish-white for text */
  text-align: center; /* Center the header content */
}

.footer-title {
  font-family: "Satisfy", serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Bold for emphasis */
  font-size: 2rem;
  color: #eff0f4;
  margin: 0;
}
