/* App container styles */
.App {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.content {
  padding: 20px; /* Add some spacing for content */
  z-index: 1; /* Ensure content scrolls behind the image */
}

/* Apply the font globally or to specific elements */
.Body {
  position: relative; /* Container for absolute positioning */
  width: auto;
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  margin-top: 6rem;
}