.header {
  width: auto; /* Let the header inherit the full width from App.css */
  padding: 10px; /* Add padding around the header */
  position: sticky;
  top: 0;
  background-color: #fb577c; /* Vibrant pink */
  color: #eff0f4; /* Pale grayish-white */
  text-align: center;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.header-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add padding inside the content area */
  color: #eff0f4; /* Pale grayish-white for text */
  text-align: center; /* Center the header content */
}

.header-title {
  font-family: "Satisfy", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold for emphasis */
  font-size: 2.5rem;
  color: #eff0f4;
  margin: 0;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  font-family: "Lato", serif;
  font-weight: 400; /* Normal weight */
  color: #eff0f4;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f0f1f5; /* Slightly lighter hover effect */
}
